.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  display: inline-block;
  margin: 0px 5px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  text-decoration: underline;
  color: #9A9A9A;
}

.breadcrumbs__link--active {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #9A9A9A;
}

/* .breadcrumbs__separator {
  padding: 0px 10px;
  color: #9A9A9A;
} */