.footer-container__content {
  border-top: 1px solid rgba(26, 48, 56, 1);
  background-color: #001821;
}

.footer {
  height: 146px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001821;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--right {
  justify-content: right;
  margin-right: 10px;
}

.footer__logo {
  position: relative;
  margin-right: 76px;
}

.footer__contacts {
  position: relative;
  font-style: normal;
  text-align: right;
}