.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #000;
  border: 1px solid #fff;
  outline-color: #F5170E;
}

/* .form__input--red-border {
  border: 1px solid #fff;
} */

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 232px;
}

.form__controls {
  display: flex;
  margin-bottom: 18px;
}

.form__controls-title {
  width: 40%;
  padding-left: 30px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}