.paginator-serv {
  text-align: center;
  font-size: 16px;
  margin-top: 63px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-serv__display {
  margin-right: 43px;
}

.paginator-serv__list {
  display: flex;
}

.paginator-serv__display,
.paginator-serv__list {
  vertical-align: middle;
}

.paginator-serv__item {
  vertical-align: middle;
 }

.paginator-serv__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  color: #000000;
}

.paginator-serv__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  transition: 0.15s;
}

.paginator-serv__item--active .paginator-serv__link {
  background-color: #F5170E;
  color: #ffffff;
}

.paginator-serv__item--hover:hover .paginator-serv__link {
  background-color: #F5170E;
  color: #ffffff;
}