.wrapper {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  min-width: 1150px;
  min-height: 100%;
}

.main-page-wrapper {
  background: 
  url(../../img/bg/hero.jpg) center top -8px no-repeat, 
  url(../../img/bg/bottom-pic.jpg) center bottom 165px no-repeat;
  font-size: 14px;
  line-height: 1.42;
  color: #FFFFFF;
  background-color: #001821;
  line-height: 1.42;
}

.wrapper__content {
  flex: 1;
}

/* .service-page-wrapper {
  background: url(../../img/bg/headline.jpg) center top 0px no-repeat;
  font-size: 14px;
  line-height: 1.42;
  color: #001821;
  background-color: #F2F2F2;
  line-height: 1.42;
} */